{% extends 'base.html' %}
{% block content %}
<form action="" method="POST" class="input-form">
    {% csrf_token %}
    {{ form }}
    <button>Submit</button>
</form>

{% for initiative in initiatives %}
<div class="initiative">
    <p> {{ initiative.name }} </p>
    <p> Leader ~ {{ initiative.team_leader }} </p>
    <p> Goal: {{ initiative.title }}</p>
    <p> Description: {{ initiative.description }}</p>
    {% comment %} <p> Visual: {{ initiative.visual }}</p> {% endcomment %}
</div>
{% endfor %}
{% endblock content %}
    