{% extends 'home.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="{% static 'attendance.js' %}" defer></script>
</head>

<body>
    <p>Good Morning, Welcome to Base Camp Coding Academy</p>
    <p>Please Sign In</p>
    <button class="button">Check in</button>

</body>


</html>
{% endblock content %}