{% extends 'home.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'attendance.css' %}">
</head>

<body>
    <div> <p>Good Morning, Welcome to Base Camp Coding Academy</p>

<form action="{% url 'attendance:check-in' %}" method="POST">
{% csrf_token %}
   <p> Please Click the <button id="button">Check In</button> to Check In! </p>
</form>
   </div>

</body>
</html>
{% endblock content %}