* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 17pt;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  --blue: #81d5f1;
  --blue--light: #b0e7f9;
  --blue--dark: #37a9ce;

  --purple: #8c9ef3;
  --purple--light: #b7c3fa;
  --purple--dark: #4760d6;

  --green: #7ff5a7;
  --green--light: #aefbc8;
  --green--dark: #34dc6d;

  --black: #333;

  color: var(--black);
}

a {
  color: var(--blue);
}

#main-nav {
  background-color: var(--black);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: baseline;
}

#main-nav a {
  text-decoration: none;
}

#main-nav__brand {
  font-size: 1.2em;
  font-weight: bold;
}

#main-nav__login,
#main-nav__logout {
  margin-left: auto;
}

main {
  padding: 1rem;
}

label {
  display: block;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid grey;
  padding: 8px;
  margin-bottom: 1rem;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-body {
  border: 2px solid rgb(158, 158, 158);
  border-radius: 19px;
  padding: 10px;
  margin: 15px;
  width: 35rem;
  background-color: whitesmoke;
  height: 12rem;
  box-shadow: rgb(136, 134, 134) 5px 5px 5px 5px;
}
h1 {
  font-size: 1.7rem;
}
.user-body {
  display: block;
}

.profile-pic {
  height: 70px;
  width: 70px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTT9MmOp5TcW6fY622cSYjpz06DAd5A1PAo4s-MWKK6iQJRThq8");
  background-size: cover, contain;

}
.button-sub {
  width: 4rem;
  height: 30px;
}

