{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ascent</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <nav id="main-nav">
        <a href="{% url 'home' %}" id="main-nav__brand">Ascent</a>
        {% comment %} <a href="{% url 'reflections:home' %}" id="main-nav__brand">Reflections</a>
        {% endcomment %}
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" id="main-nav__login">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" id="main-nav__logout">Login</a>
        {% endif %}
    </nav>
    <main>
    {% block content %}
    {% endblock content %}
    </main>
</body>
</html>