{% extends 'base.html' %}
{% block content %}
<ul>
{% for reflection in reflections %}
<li style= "list-style: none">
<form action="{% url 'reflections:submit_reflection' reflection.id%}" method="POST">
{% csrf_token %}
    Reflection-Date: {{ reflection.date }}
    {% for question in questions.filter %}
        <p>{{question}}<br>
        <label style="font-size: 16px;"> Answer: 
            <input type="text" name="answer" id="" style="height: 50px; width: 400px; outline-width: 0;">
        </label>
        </p>
    {% endfor %}
    <button 
        style="padding: 15px; height: 50px; width: 80px; 
                background-color: #81d5f1; font-size: 16px">
        Submit
    </button>
    </form>
</li>
{% endfor %}
</ul>
{% endblock content %}